.uxd-upcoming-events {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	z-index: 1;
}

.uxd-events-archive {
	display: grid;
	grid-auto-flow: row;
	justify-content: center;
	margin: -3rem 0 5rem;
}

.uxd-no-events-text {
	font-family: var(--public-sans);
	text-align: center;
	line-height: 2;
	padding: 0 1.5rem;
}

.uxd-all-events-wrapper {
	display: flex;
	justify-content: center;
}

.uxd-all-events-wrapper .uxd-button-link {
	margin-left: 0;
	margin-right: 0;
}

.uxd-upcoming-events .uxd-button-link {
	margin-top: 3rem;
}

.uxd-event {
	width: 100%;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: var(--uxd-border-radius);
	box-shadow: var(--white-shadow);
	margin: 1.5rem 0;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.uxd-event:hover {
	box-shadow: var(--white-shadow-hover);
}

.uxd-event__link {
	text-decoration: none;
}

.uxd-event__date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--ringside-ssm);
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	background-color: var(--uxd-red);
	padding: 1rem;
	border-top-left-radius: var(--uxd-border-radius);
	border-top-right-radius: var(--uxd-border-radius);
}

.uxd-event__date-constraint {
	height: 100%;
	max-height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.uxd-event__month {
	font-size: 20px;
	margin: 0;
}

.uxd-event__day-number {
	font-size: 80px;
	margin: 0;
}

.uxd-event__day {
	font-size: 16px;
	margin: 0;
}

.uxd-event__info {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 1rem 2rem;
}

.uxd-event__title {
	font-family: var(--ringside-ssm);
	color: var(--uxd-red-dark);
	margin: 0.5rem 0 0;
	word-wrap: break-word;
}

.uxd-event__text {
	font-family: var(--ringside-ssm);
	color: var(--byu-grey-dark);
	margin: 0.75rem 0 0;
}

.uxd-event__time {
	font-family: var(--ringside-ssm);
	color: var(--byu-grey-dark);
	margin: 0.75rem 0 0.5rem;
}

.uxd-event__calendar-link {
	display: none;
	font-family: var(--ringside-ssm);
	font-size: 0.9rem;
	color: var(--uxd-red-dark);
	text-align: center;
	text-transform: uppercase;
	line-height: 1.3;
	background-color: #fff;
	padding: 0.55rem;
	border: 1px solid var(--uxd-red);
	border-radius: var(--uxd-border-radius);
	outline: none;
	margin-top: 1rem;
}

.uxd-event__calendar-link:hover {
	cursor: pointer;
	color: #fff;
	background-color: var(--uxd-red);
}

@media (min-width: 640px) {

	.uxd-event {
		max-width: 450px;
		flex-direction: row;
		direction: ltr;
	}

	.uxd-event__date {
		min-width: 125px;
		border-top-right-radius: unset;
		border-bottom-left-radius: var(--uxd-border-radius);
	}
}

@media (min-width: 1024px) {

	.uxd-event__calendar-link {
		display: block;
	}
}

@media (min-width: 1200px) {

	.uxd-no-events-text,
	.uxd-all-events-wrapper {
		grid-column: 1 / 3;
	}

	.uxd-upcoming-events__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 4rem;
	}
}
